<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<div>
<h1>ADMIN MENU</h1>
</div>
<div class="container">
            <ul class="ul">
                <h2>ACTION</h2>
                <li><a>Equipment List</a></li>
                <li><a>Add New Equipment</a></li>
                <li><a>Delete Equipment</a></li>
                <li><a>Check Reservation</a></li>
                <li><a>Get Payment</a></li>
                <li><a>Give the Equipment to the user</a></li>
                <li><a>Receive the Equipment from the User</a></li>

            </ul>
        </div>





</body>
</html>